* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;


  cursor: pointed;
}

body {
  background-color: aliceblue;
  background-image: url('./assets/pokemonbackground.jpg');
  background-size: 40%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}