

.PokemonCard {
	width: auto;
	height: 10rem;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.CardFavorite{
	display: flex;
	align-items: flex-start;
	position: relative;
	z-index:1;
	margin: 0;
	padding: 0;
}

.Wave {
	background-image: url('../../assets/backCard.svg');
	background-repeat: no-repeat;
	background-position: bottom;
}

.PokemonImg {
	display: flex;
	justify-content: center;
	justify-content: center;
}

.PokemonName {
	text-transform: uppercase;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(7, 7, 7);
}


.PokemonType {
	border: none;
	border-radius: 8px;
	font-size: 1rem;
	padding: 0 0.2rem;

	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
