.PokemonCard {
	position: 'relative';
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: '1rem';
	min-width: 320;
}

.PokemonName {
	text-transform: uppercase;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

