.Appbar{
  background-image: url('./../assets/pokemonbackground.jpg');
}

.ToolbarProps {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Fredoka One', cursive;

  margin: 0.5rem;
  border-radius: 8px;
  border: 3px double whitesmoke;

  >.ToolbarBoxProps {
    display: flex;
    align-items: center;
    justify-content: start;
  }
}

.ToolbarBoxImgProps {
  max-width: 4rem;
}