.ToolbarProps {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Fredoka One', cursive;

  padding: 0.5rem;

  >.ToolbarBoxProps {
    display: flex;
    align-items: center;
    justify-content: start;
  }
}

.ToolbarBoxImgProps {
  max-width: 4rem;
}